.button {
  display: flex;
  background-color: $color-green-400;
  font-family: $Oswald;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  align-items: center;
  justify-content: center;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 73px;
  padding-right: 73px;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.button--catalog {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 53px;
    padding-right: 53px;
  }
}

.button--catalog-more {
  font-size: 16px;
  line-height: 20px;
  color: $color-grey-700;
  background-color: $color-grey-100;

  @media (min-width: $desktop-width) {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.button--program {
  @media (min-width: $tablet-width) {
    padding-left: 26px;
    padding-right: 26px;
  }
}
