.contacts {
  background-color: $color-grey-100;
}

.contacts--index {
  background-color: $color-white;
}

.contacts__wrapper {
  position: relative;
}

.contacts__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $desktop-width) {
    background-color: $color-white;
    position: absolute;
    left: $desktop-padding;
    top: 95px;
    padding: 56px 80px;
  }
}

.contacts__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  max-width: 180px;
  margin-right: auto;
}

.contacts__address {
  line-height: 20px;
  color: $color-grey-700;
  max-width: 180px;
  justify-self: end;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    text-align: end;
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__map {
  display: flex;
  height: 362px;
}
