.example {
  background-color: $color-grey-200;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $color-white  65%, $color-grey-200 65%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, $color-white  30%, $color-grey-200 30%);
  }
}

.example__wrapper-outer {
  max-width: $desktop-width;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__section-title {
  margin-bottom: 40px;
  background: inherit;

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 148px;
  }
}

.example__description {
  line-height: 18px;
  color: $color-grey-700;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    max-width: 440px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__result {
  padding-bottom: 25px;
}

.example__images {
  padding-bottom: 25px;
}
