.example {
  background-color: $color-grey-200;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, $color-grey-200 462px, $color-white 462px);
  }
}

.example__wrapper-outer {
  max-width: $desktop-width;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
    margin-bottom: 145px;
  }
}

.example__description {
  line-height: 18px;
  color: $color-grey-700;
  margin-bottom: 5px;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    min-height: 72px;
    line-height: 24px;
    padding-right: 10px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 450px;
    margin-bottom: 67px;
    padding-right: 0;
  }
}

.example__result {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 57px;
  }
}

.example__images {
  padding-bottom: 25px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 17px;
  }
}
