.extra {
  display: grid;
  padding-top: 76px;

  @media (min-width: $desktop-width) {
    grid-template-areas: "title title title title" "list list list promo";
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.extra__section-title {
  margin-top: 0;
  margin-bottom: 76px;

  @media (min-width: $desktop-width) {
    grid-area: title;
  }
}

.extra__product-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 69px;

  @media (min-width: $desktop-width) {
    grid-area: list;
    margin: 0;
  }
}

.extra__promo {
  @media (min-width: $desktop-width) {
    grid-area: promo;
  }
}
