.extra__product-list {
  list-style: none;
  padding: 0;
  margin-bottom: 54px;
}

.product-extra__link {
  text-decoration: none;
}

.product-extra__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $product-title-color;
}
