.feature {
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-700;
}

.feature__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feature__value {
  justify-self: end;
  width: max-content;
}
