.fieldset {
  display: grid;
  border: none;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.fieldset--extra {
  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.fieldset--cat-info {
  max-width: $desktop-width;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: center;
    margin-bottom: 67px;
  }
}

.fieldset__wrapper {
  width: 100%;
}

.fieldset__section-title {
  width: 100%;
  text-transform: none;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.fieldset--extra .fieldset__section-title {
  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }
}

.fieldset__list {
  display: grid;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 5px;
}

.fieldset__list--program-type {
  padding: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $color-grey-500;
  border-bottom: 1px solid $color-grey-500;
  display: grid;

  @media (min-width: $tablet-width) {
    border: 1px solid $color-grey-500;
    margin: 0 70px;
    padding: 25px 28px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: $desktop-padding;
  }
}

.fieldset__list--cat-info {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}


.fieldset__list--contacts {
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: center;
  }
}

.fieldset__list--extra {
  grid-template-columns: repeat(auto-fill, minmax(221px, 1fr));
  column-gap: 60px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}


.fieldset__list:not(:last-child) {
  margin-bottom: 13px;
}

.fieldset__form-item {
  color: $color-grey-700;
}

.fieldset__form-item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.fieldset__list--contacts .fieldset__form-item {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.fieldset__checkbox:not(:last-child) {
  margin-bottom: 12px;
}

.fieldset__textarea {
  width: 100%;
  min-height: 150px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-grey-700;
  text-transform: uppercase;
  padding: 13px;
  padding-top: 10px;
  border: 1px solid $color-grey-250;

  @media (min-width: $tablet-width) {
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
    padding: 16px;
    padding-top: 12px;
  }
}
