.fieldset {
  display: grid;
  border: none;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.fieldset--cat-info {
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: center;
  }
}

.fieldset__legend {
  text-transform: none;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
}

.fieldset__list {
  display: grid;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-bottom: 13px;
}

.fieldset__list--contacts {
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    align-items: center;
  }
}

.fieldset__list--extra {
  grid-template-columns: repeat(auto-fill, minmax(221px, 1fr));
  column-gap: 60px;

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}


.fieldset__list:not(:last-child) {
  margin-bottom: 13px;
}

.fieldset__form-item {
  color: $color-grey-700;
}

.fieldset__form-item:not(:last-child) {
  margin-bottom: 13px;
}

.fieldset__checkbox:not(:last-child) {
  margin-bottom: 13px;
}

.fieldset__textarea {
  width: 100%;
  min-height: 150px;

  @media (min-width: $tablet-width) {
    min-height: 174px;
  }
}
