.form-item {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.form-item__label {
  margin-right: 13px;
  max-width: 150px;
}

.form-item__input {
  padding-top: 10px;
  padding-bottom: 10px;
}
