.form {
  padding: 0;
}

.form__comment {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.form__button-panel {
  display: grid;
  margin-bottom: 72px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.form__button {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }
}
