.form-item {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  position: relative;
}

.form-item__label {
  margin-right: 13px;
  max-width: 150px;
}

.form-item__input {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-grey-700;
  text-transform: uppercase;
  padding: 13px;
  border: 1px solid $color-grey-250;
}

.form-item__icon {
  stroke: $color-grey-800;
  position: absolute;
  right: 13px;
}
