.form-item {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  position: relative;
}

.form-item__label {
  margin-right: 13px;
  max-width: 150px;
}

.form-item__input {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-grey-700;
  text-transform: uppercase;
  padding: 13px;
  padding-right: 40px;
  border: 1px solid $color-grey-250;
  z-index: 1;
  background-color: transparent;

  &:hover {
    border: 1px solid $color-grey-600;
  }

  &:focus {
    border: 1px solid $color-grey-700;
    outline: unset;
  }
}

.form-item__icon {
  position: absolute;
  fill: $color-grey-800;
  right: 13px;
}

.form-item__input:focus ~ .form-item__icon {
  fill: $color-green-400;
}

.form-item__input--invalid {
  border: 2px solid $color-red-400;
}

.form-item__input--invalid ~ .form-item__icon {
  fill: $color-red-400;
}
