.images {
  display: grid;
  grid-template-rows: 1fr 40px;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.images__before {
  grid-row: 1/2;
  grid-column: 1/2;
}

.images__after {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
}

.images__toggle-panel {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.images__toggle-text:not(:last-of-type) {
  margin-right: 13px;
}

.images__toggle {
  width: 86px;
  height: 14px;
  border: 1px solid $color-grey-600;
  border-radius: 6px;
  background-color: $color-white;
  margin-right: 13px;
}
