.images {
  display: grid;
  grid-template-areas: "images" "toggle";
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.images__before {
  grid-area: images;
}

.images__after {
  grid-area: images;
}

.images__toggle-panel {
  grid-area: toggle;
  display: flex;
  align-items: center;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.images__toggle-text:not(:last-of-type) {
  margin-right: 13px;
}

.images__toggle {
  width: 86px;
  height: 14px;
  border: 1px solid $color-grey-600;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: $color-white;
  margin-right: 13px;
}
