.images {
  display: grid;
  grid-template-rows: 1fr 40px;
  justify-content: center;
  align-items: center;
}

.images__before {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
  justify-self: center;
  align-self: center;
}

.images__after {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: center;
  display: none;
}

.images__toggle-panel {
  grid-row: 2/3;
  display: flex;
  justify-self: center;
  align-self: center;
  align-items: center;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.images__toggle-text:not(:last-of-type) {
  margin-right: 13px;
}

.images__toggle {
  align-self: center;
  display: grid;
  width: 86px;
  height: 14px;
  border: 1px solid $color-grey-600;
  border-radius: 6px;
  background-color: $color-white;
  padding-left: 6px;
  padding-top: 3px;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    background: $color-grey-650;
  }
}

.images__range {
  width: 36px;
  height: 6px;
  background: $color-green-400;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    background: $color-white;
    border: 1px solid $color-grey-600;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: -18px;
    justify-self: center;
    position: relative;
  }
}

.images__range::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    background: $color-green-400;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 35%;
  }
}

.images__toggle-button {
  border: none;
}
