.logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__logo-text {
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 22px;
  }
}

.logo__logo-text--footer {
  width: 128px;
  height: 24px;
}

.logo__logo-image {
  @media (min-width: $tablet-width) {
    height: 50px;
    width: 60px;
  }

  @media (min-width: $desktop-width) {
    height: 60px;
    width: 71px;
  }
}
