.navigation {
  width: auto;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    background: transparent;
  }
}

.navigation__list {
  padding: 0;
  list-style: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__link {
  font-family: $oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.navigation__list--index .navigation__link {
  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}

.navigation__item {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
}

.navigation__item:not(:last-child) {
  border-bottom: 1px solid $color-grey-300;

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 35px;
  }
}
