.page-main:nth-child(n):not(:last-child) {
  margin-bottom: 20px;
}

.page-main__program {
  padding-top: 36px;
}

.page-main__principles {
  margin-bottom: 49px;
}

.page-main__example {
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-main__contacts {
  padding-top: 26px;
}

.page-main__title {
  margin-bottom: 37px;
}

.page-main__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.page-main__catalog {
  margin-bottom: 25px;
}
