/*Sticky-footer -> height of page*/
.page {
  height: 100%;
}

.page__body {
  min-width: $mobole-width;
  min-height: 100%;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-black;
  background-color: $color-white;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body--index {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to right, $color-white  50%, rgba($color-green-400, 0.85) 50%), url("../img/index/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 696px, 720px 696px;
    background-position: right top;
  }
}
