.principles__section-title {
  margin-bottom: 32px;
}

.principles__list {
  padding: 0;
  counter-reset: principle_number;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
    column-gap: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, minmax(230px, 1fr));
  }
}

.principles__item {
  list-style: none;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 280px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.principles__item::after {
  @media (min-width: $tablet-width) {
    counter-increment: principle_number;
    content: counter(principle_number) "";
    font-family: $oswald;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: $color-grey-100;
    position: absolute;
    z-index: -1;
    left: calc((95% - 80px) / 2);
    top: 0;

    @media (min-width: $desktop-width) {
      right: 0;
      left: auto;
    }
  }
}

.principles__item:not(:last-child) {
  margin-bottom: 20px;
}

.principles__text {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  margin: 0;
  line-height: 18px;
  color: $color-grey-700;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    gap: 30px;
    align-items: start;
  }
}

.principles__text::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: $color-green-400;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.principles__item--leaf .principles__text::before {
  background-image: url("../img/index/principles_icon_leaf.svg");
}

.principles__item--tub .principles__text::before {
  background-image: url("../img/index/principles_icon_tub.svg");
}

.principles__item--eat .principles__text::before {
  background-image: url("../img/index/principles_icon_eat.svg");
}

.principles__item--alarm .principles__text::before {
  background-image: url("../img/index/principles_icon_alarm.svg");
}
