.principles__section-title {
  margin-bottom: 40px;
}

.principles__list {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    column-gap: 153px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    column-gap: 94px;
  }
}

.principles__item {
  list-style: none;
  display: flex;

  @media (min-width: $tablet-width) {
    min-height: 280px;
  }
}

.principles__item:not(:last-child) {
  margin-bottom: 20px;
}

.principles__text {
  display: flex;
  margin: 0;
  line-height: 18px;
  color: $color-grey-700;
}

.principles__text::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: $color-green-400;
  background-size: 50px;
  margin-right: 29px;
}
