.product {
  display: grid;
  grid-template-areas: "image title" "image feature" "button button";
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border-top: 1px solid $color-grey-400;

  @media (min-width: $tablet-width) {
    grid-template-areas: "image" "title" "feature" "button";
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-columns: 1fr;
    background-image: linear-gradient(to bottom, $color-white  110px, $color-grey-200 110px);
    border: none;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, $color-white  120px, $color-grey-200 120px);
  }
}

.product__link-image {
  grid-area: image;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 120px;
  height: 115px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 208px;
    align-items: flex-end;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.product__image-small {
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    width: 163px;
    height: 174px;
  }
}

.product__image-small--chicken {
  margin-top: 0;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 172px;
  }
}

.product__image-big {
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    width: 168px;
    height: 200px;
  }
}

.product__link-title {
  grid-area: title;
  text-decoration: none;
  margin: 0;
  display: grid;
  height: min-content;

  @media (min-width: $tablet-width) {
    justify-self: center;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.product__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-grey-800;
  margin: 0;
  width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 145px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product__feature {
  grid-area: feature;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    margin-top: 0;
  }
}

.product__button {
  grid-area: button;
  margin-top: 9px;
  padding-top: 10px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 11px;
    padding-bottom: 14px;
  }
}
