.product-extra {
  text-decoration: none;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-areas: "title feature" "button button";
    grid-template-columns: 2fr 1fr;
    padding: 27px 38px;
    border: 1px solid $color-grey-600;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0;
    grid-template-areas: "title gap feature feature button";
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    column-gap: 0;
    border: none;
    border-bottom: 1px solid $color-grey-600;
  }
}

.product-extra:first-child {
  @media (min-width: $tablet-width) {
    border-top: 1px solid $color-grey-600;
  }
}

.product-extra__link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    grid-area: title;
  }
}

.product-extra__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-grey-800;
}

.product-extra__feature-extra {
  @media (min-width: $tablet-width) {
    grid-area: feature;
  }
}

.product-extra__button {
  @media (min-width: $tablet-width) {
    grid-area: button;
  }
}
