.program {
  display: grid;
  font-family: $oswald;
  background-image: url("../img/index/index_bg_mobile.jpg"), linear-gradient(to right, $color-green-600 50%, $color-green-700 50%);
  background-size: 320px 302px, 100% 303px;
  background-repeat: no-repeat;
  background-position: top, top left;
  color: $color-white;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/index_bg_mobile@2x.jpg"), linear-gradient(to right, $color-green-600 50%, $color-green-700 50%);
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    color: $color-black;
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
  }
}

.program__wrapper {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr;
  width: 100%;
  min-height: 461px;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }
}

.program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 12px;
  width: 250px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 23px;
    grid-row: 1/2;
    grid-column: 1/-1;
    padding-left: 87px;
    width: 60%;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    max-width: 501px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 82px;
    padding-left: 80px;
    margin-bottom: 20px;
  }
}

.program__slogan {
  text-transform: uppercase;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/-1;
    padding-left: 87px;
    margin-bottom: 19px;
    width: 60%;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    max-width: 501px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    margin-bottom: 22px;
  }
}

.program__picture {
  width: 100%;
  justify-self: center;
  align-self: start;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    padding-left: 448px;
    grid-row: 1/-1;
    z-index: -1;
  }
}

.program__image {
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 709px;
    height: 609px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    margin: 0;
  }
}

.program__button {
  @media (min-width: $tablet-width) {
    padding-top: 18px;
    margin-top: 29px;
    margin-left: 89px;
    margin-bottom: auto;
    grid-row: 3/4;
    grid-column: 1/-1;
    min-width: 244px;
    max-width: 414px;
    margin-right: auto;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
