.program-type {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program-type__item {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-areas: "icon title" "description description" "link link";
  font-family: inherit;
  list-style: none;
  background-color: $color-grey-100;
  padding-left: 20px;
  padding-top: 21px;
  padding-right: 33px;
  padding-bottom: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 268px;
    grid-template-areas: "title icon" "description icon" "link icon";
    column-gap: 20px;
    padding-left: 53px;
    padding-top: 77px;
    padding-right: 28px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 1fr;
    grid-template-areas: "icon title" "description description" "link link";
  }
}

.program-type__item::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: $color-green-400;
  border-radius: 50%;
  padding-left: 2px;
  grid-area: icon;

  @media (min-width: $tablet-width) {
    justify-self: center;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
    width: 100px;
    height: 100px;
  }
}

.program-type__item::before {
  background-repeat: no-repeat;
  content: "";
  background-position: center;
  grid-area: icon;
  width: 67px;
  height: 50px;
  z-index: 1;
  margin-left: -7px;
  align-self: center;
  justify-self: start;

  @media (min-width: $tablet-width) {
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.program-type__item--slim::before {
  background-image: url("../img/index/cat-slim.svg");
}

.program-type__item--pro::before {
  background-image: url("../img/index/cat-pro.svg");
}

.program-type__title {
  grid-area: title;
  display: flex;
  align-items: center;
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }
}

.program-type__description {
  grid-area: description;
  color: $color-grey-700;
  line-height: 18px;
  padding-bottom: 23px;
  border-bottom: 1px solid $color-grey-500;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 25px;
  }
}

.program-type__catalog-link {
  grid-area: link;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
