.promo {
  display: flex;
  align-items: center;
  min-height: 200px;
  background-color: $color-green-400;
  background-image: url("../img/catalog/catalog_promo_small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-white;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/catalog_promo_small@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/catalog/catalog_promo_tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/catalog_promo_tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog/catalog_promo_small.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/catalog_promo_small@2x.jpg");
    }
  }
}

.promo__slogan {
  display: grid;
  padding-left: 58px;
  padding-right: 61px;
  margin: 43px auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 80px 180px;
    gap: 265px;
    text-align: start;
    align-items: center;
    padding-left: 36px;
    padding-right: 61px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto;
    gap: 0;
    text-align: center;
    align-items: center;
    padding: 0 30px;
  }
}

.promo__slogan::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("../img/catalog/promo_icon_gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}
