.result {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
  }
}

// KG and time
.result__in-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.result__group {
  justify-self: center;
  padding-top: 14px;
  width: 124px;
  display: flex;
  flex-direction: column-reverse;
}

.result__name {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: $color-grey-700;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.result__value {
  justify-self: center;
  margin: 0;
  margin-bottom: 10px;
}

.result__value--number {
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

// COST of result

.result__group--cost {
  flex-direction: row;
  width: auto;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    justify-self: end;
    display: grid;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
    display: flex;
  }
}

.result__name-cost {
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 5px;
  }
}

.result__value--cost {
  justify-self: end;
}
