.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: $Oswald;
  font-weight: 400;
  text-transform: uppercase;
}

.result__group {
  position: relative;
  display: flex;
  margin-bottom: 50px;
}

.result__name {
  position: absolute;
  bottom: -30px;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: $color-grey-700;
  text-align: center;
}

.result__name-cost {
  margin-right: 5px;
}

.result__value {
  margin: 0;
}

.result__value--number {
  font-size: 24px;
  line-height: 24px;
}

.result__group--cost {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  display: flex;
}
