.show-more {
  display: flex;
  flex-direction: column;
}

.show-more__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-grey-900;
  text-align: center;
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 167px;
    margin: 0 auto;
    margin-bottom: 23px;
  }
}

.show-more__title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../img/catalog/catalog-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-bottom: 49px;
  }
}

.show-more__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-grey-700;
  margin-bottom: 21px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin: 0 auto;
    margin-bottom: 87px;
  }
}
