.title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--catalog {
  margin-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    margin-bottom: 43px;
  }
}
