.wrapper {
  padding: 0 $mobile-padding;
  margin: 0 auto;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    padding: 0 $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    padding: 0 $desktop-padding;
  }
}

.wrapper--contacts {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }
}

.wrapper--example {
  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
