// Сolors
$color-black: #000000;
$color-white: #ffffff;
// Сolor-Grey
$color-grey-100: #f2f2f2;
$color-grey-200: #eaeaea;
$color-grey-250: #e7e7e7;
$color-grey-300: #e6e6e6;
$color-grey-400: #ebebeb;
$color-grey-450: #dcdcdc;
$color-grey-500: #d9d9d9;
$color-grey-600: #cdcdcd;
$color-grey-650: #676767;
$color-grey-700: #444444;
$color-grey-800: #222222;
$color-grey-900: #111111;
// Сolor-Green
$color-green-400: #68b738;
$color-green-600: #64a83c;
$color-green-700: #62a53a;

// Fonts
$oswald: "Oswald", sans-serif;
$arial: "Arial", sans-serif;

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1320px;
$mobile-width: 320px;

//Main-padding
$mobile-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 50px;
